.h1{
    font-size: 36px;
    text-align: center;
}
.content-container {
    margin-top: 100px;
}

.machines-container{
    width:80vw;
    padding-left:5vw;
    padding-right:5vw;
}
.selectors-container{
    width:20vw;
    padding-left:5vw;
    padding-right:5vw;
}
